body {
    background-color: coral;
    background-image: url(./bilder/everett-mcintire--NtuKSJShtw-unsplash.jpg);
}
h1 {
    color:crimson;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color:darkslategrey; 
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   